@import "variables";
@import "vendor/materialize/sass/materialize";

.nav-wrapper{
    padding: 0 2em;
}
.brand-logo{
    background-image: url("../logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2em;
    height: 2em;
    margin-left: 6px;
    display: inline-block;
}

form#interest-form{
    background-color:rgba(12,232,187, .4);
    padding:1em .75rem;
}
.card-panel{
    border-top: 2px solid $primary-color;
    border-radius: 0px !important;
}
.section{
}

.border-top{
    border-top: 4px solid $primary-color;
}
.mail-icon{
    background-color:white;
}
section.row+section.row{
    margin-top:4em;
}